body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;


}

.help {
    background-image: url(donate.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 35px;
}

h6 {
    font-size: 15px;

}

.color {
    color: rgb(155, 145, 145);
}

.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, maroon);
    border-radius: 10px;
}

.donation {
    padding-top: 156px;
    text-align: center;
    font-size: 30px;
}

.block {
    border: 1px solid rgb(255, 245, 245);
    width: 125px;
    height: 100px;
    display: inline-block;
    border-radius: 10px;
    border-width: 2px;
    background-color: lightgray;
    color: rgb(128, 117, 117);


}

.new {

    border: 1px solid black;
    width: 125px;
    height: 100px;
    display: inline-block;
    border-color: red;
    color: red;
    background-color: pink;
    border-radius: 10px;
    border-width: 2px;

}


.horizontal-line {
    width: 690px;
    height: 2px;
    border: none;
    background-color: rgb(177, 160, 160);
}