body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.help {
    background-image: url(donate.jpg);
    background-position: center;
    height: 70vh;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 35px;
}

h6 {
    font-size: 15px;

}

.color {
    color: rgb(155, 145, 145);
}

.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, maroon);
    border-radius: 10px;
}

.donation {
    padding-top: 140px;
    text-align: center;
    font-size: 30px;
}

.block {
    border: 1px solid rgb(255, 245, 245);
    width: 125px;
    height: 100px;
    display: inline-block;
    border-radius: 10px;
    border-width: 2px;
    background-color: lightgray;
    color: rgb(128, 117, 117);


}

.new {

    border: 1px solid black;
    width: 125px;
    height: 100px;
    display: inline-block;
    border-color: red;
    color: red;
    background-color: pink;
    border-radius: 10px;
    border-width: 2px;

}


.horizontal-line {
    width: 700px;
    height: 2px;
    border: none;
    background-color: rgb(177, 160, 160);
}





.icon {
    width: 50px;
    padding-top: 50px;
    padding-right: 200px;

}

.line {
    display: flex;
}

p {
    font-size: 15px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(100, 89, 89);
}

.flood {
    border: 1px solid white;
    height: 400px;
    width: 300px;
    margin-bottom: 2%;
}

.red {
    background-color: rgb(225, 255, 255);
    margin-left: 15%;
}

.blue {
    background-color: rgb(245, 230, 233);
    margin-left: 2%;
}

.green {
    background-color: rgb(211, 218, 231);
    margin-left: 2%;


}

.style {
    width: 400px;
    padding-top: 100px;
    margin-right: 20%;
    margin-left: 40%;
    height: 500px;

}

.lives {
    width: 80%;
    display: flex;

}

.kind {
    font-size: 30px;
    margin-left: 20%;
    padding-top: 100px;
    text-align: left;

}